@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: 'Poppins', sans-serif;
}
h1,h2,h3,h4,h5,h6,p,a,button{
  font-family: 'Poppins', sans-serif;
}

.section_padding{
  padding: 80px 0;
}
